<div class="h-screen w-4/5 max-h-screen m-auto">
  <div class="min-h-[15vh] flex w-full">
    <h1 class="text-5xl text-center m-auto">SpaceX Missions</h1>
  </div>
  @if (missions.length === 0) {
  <div class="w-full flex py-20">
    <span class="loading loading-bars w-1/12 m-auto"></span>
  </div>
  }
  <div
    class="flex flex-col gap-5 max-h-[85vh] relative flex-grow overflow-auto hide-scroll"
  >
    @for (item of missions; track $index) {
    <div
      class="flex flex-col btn btn-block h-fit min-h-fit py-5 px-10 bg-[#E5E6E6] border-2 border-stone-400
      dark:bg-slate-700/50 dark:hover:bg-slate-800"
      (click)="showMissionDetails(item)"
    >
      <div class="flex w-full items-center space-x-10">
        <img
          class="aspect-square w-24 h-24"
          src="{{ item.links.mission_patch_small }}"
          alt="Mission Patch"
        />
        <div class="flex flex-col">
          <h4 class="text-3xl font-bold text-left">
            {{ item.mission_name }}
          </h4>
          <h5 class="text-xl text-left">{{ item.launch_year }}</h5>
          <p class="text-sm text-left self-start">
            {{ item.details }}
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>